<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ようこそ</title>
</head>
<body>
    <h1>ようこそ</h1>
    <br>
    <h3>自己紹介</h3>
    <p>
        CNW-TES本部配属となった小澤と申します。
    <br>
        愛知県出身です。趣味は旅行、ゲーム、サウナなどですので、共通の趣味がある方はぜひ気軽に話しかけていただけると嬉しいです！ 
    </br>
    </p>
    <p>
        大学では西洋史学を研究していたため、ITは未経験です。しかし、現代社会を支えるIT業界に関心があり、コムチュアに入社させていただきました。 
    <br>
        小さなことから一つずつ知識と技術を身に着けていき、一人前の社会人として働けるよう努力したいと思います。よろしくお願いいたします！ 
    </br>
    </p>
    <table border="1">
    
    <h3>プロフィール</h3>
        <tr><th>名前</th><td>小澤綜真</td></tr>
        <tr><th>社員番号</th><td>123046</td></tr>
        <tr><th>誕生日</th><td>1999/10/26</td></tr>
        <tr><th>血液型</th><td>B型</td></tr>
        <tr><th>メールアドレス</td><td>ozawa_soma@comture.com</td></tr>
    </table>
</body>
</html>