<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ようこそ</title>

    <style>
        .top{
            color:yellow;
            background-color:black;
        }
        #here{
            color:antiquewhite;
        }
        body{
            background-color: antiquewhite;
        }
        
    </style>
</head>
<body>
    <h1 class="top">ようこそ、{{id}}さん！</h1>
    <br>
    <img src="/images/kumano.jpg" width="500" alt="image not found">
    <br>
    和歌山県那智勝浦町・熊野那智大社
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="https://sushida.net/" id="here">ここをクリック</a>
</body>
</html>