<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        h4{
            color:red;
        }
    </style>
</head>
<body>
    <h4>ユーザ名またはパスワードに誤りがあります</h4>
    <form action="/login">
        ユーザ名：<input type="text" name="id">
        <br>
        パスワード：<input type="password" name="password">
        <br>
        <input type="submit" value="ログイン">
    </form>
</body>
</html>